div(class='c10-sidebar')
    div(class='c10-sidebar-link')
        img(src=getAsset('icons/home.svg'))
        div Home

    div(class='c10-sidebar-link')
        img(src=getAsset('icons/explore.svg'))
        div Explore

    div(class='c10-sidebar-link')
        img(src=getAsset('icons/subscriptions.svg'))
        div Subscriptions

    div(class='c10-sidebar-link')
        img(src=getAsset('icons/originals.svg'))
        div Originals

    div(class='c10-sidebar-link')
        img(src=getAsset('icons/youtube-music.svg'))
        div YouTube Music

    div(class='c10-sidebar-link')
        img(src=getAsset('icons/library.svg'))
        div Library
