doctype html
html(lang=en)
    head
        title "WebDevDojo"
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap', rel='stylesheet')

        block importStyles
            link(rel="stylesheet" href=getMainStyle())
    body
        header
            div(class='header')
                div(class='application-name') WebDevDojo
                div(id='hamburger' class='hamburger-menu') &#9776;

        main(id="top")
            div(id='sidebar' class='sidebar')
                button(id='closeButton' class='close-button') &times;
                ul
                    each module in modules
                        li: div(class='layout-tooltip-container')
                                a(href=module.address alt=module.description) #{module.name} 
                                div(class='layout-tooltip') #{module.description}

            div(class='main')
                block main 

        footer
            div(class='footer')
                a(href='#top') top
                p Copyright &copy; Hanif 2024

script(src=getAsset('js/layout-sidebar.js'))
